{
	"semi": true,
	"singleQuote": true,
	"printWidth": 100,
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
	"tailwindConfig": "tailwind.config.js",
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/layouts/(.*)$",
		"@/components/(.*)$",
		"@/common/(.*)$",
		"@/hooks/(.*)$",
		"@/services/(.*)$",
		"@/constants/(.*)$",
		"@/constants/(.*)$",
		"@/assets/(.*)$",
		"^[../]",
		"^[./]"
	]
}
